body {
    background-color: black;
}

table, th {
    background-color:white;
    border: solid;
    text-align: center;
    margin: auto;
    height: 63px;
    border-collapse: collapse;
}

table {
    width: 60%
}

h3 {
    text-align: center;
    margin: 52px;
    font-size: 32px;
    color: brown;
    text-transform: capitalize;
}


.userchoicediv1 {
    text-align: center;
    margin: 53px;
    color: blue;
}

.style2 {
  background-color: green;
}
.style1 {
  background-color: blue;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333;*/
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: green;
 position: relative;
}

.footer {
 background: #eee;
 bottom: -700px;
 text-align: center;
 position: relative;
}
